/* .header_content{
    margin-top: 10%;
}
.header_para{
    padding:5px;
    margin: auto;
}
.paragraph_font{
    font-weight: 12px;
    font-size: 12px;
}
.middle{
    margin-top: 10%;
}
.middle_content{
    padding:10px;
    
}
.middle img{
    border-radius: 79% 21% 54% 46% / 40% 52% 48% 60% ;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.middle h6{
    color: black;
    padding: 10px;
    text-align: center;   
}
.middle p{
    font-weight: 12px;
    font-size: 12px;
    text-align: center;
} */

/* .second-section{
    margin-top: 10%;
    width: 500px;
    height: 500px;  
} */

/* 
.third-section{
    margin-top: 10%;
}
.third-section-content{
    padding: 5px;
    margin: auto;
}
.third-section p{

    font-weight: 12px;
    font-size: 12px;
}

.footer{
    margin-top: 10%;
    background-color: rgb(104, 104, 253);
}
.text-uppercase{
    text-align: center;
}
.horizontal{
    border-top: 1px solid #ef7921;
    width: 120px;
}
.link{
    text-align: center;
    display: block;
    justify-content: left;
}
 */
